@import "../Common/Common.scss";

.s-details {
    margin-top: 10px;
    width: auto;
    .s-key {

        &.bolt-table-cell {
            padding-left: 0px;
        }
    }

    .bolt-list-cell-content {
        padding-left: 0px !important;

        .bolt-list-cell-text {
            padding: 0px !important;
        }
    }

    .kube-simple-cell .s-value {
        padding-left: 16px;
    }

    .s-details-label {
        box-sizing: border-box;
        width: 100%;
    }
}

.s-de-heading {
    padding-left: 8px;
    &.content {
        padding: 0px;
    }
}
