@import "../Common/Common.scss";

.s-details {
    margin-top: 10px;
    width: auto;

    .kube-simple-cell .s-value {
        padding-left: 16px;
    }

    .s-details-label {
        box-sizing: border-box;
        width: 100%;
    }
}

.s-de-heading {
    padding-left: 8px;
    &.content {
        padding: 0px;
    }
}
