@import "azure-devops-ui/Core/_platformCommon.scss";

.list-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;

    &.top-padding {
        margin-top: 10px;
    }
}

.list-col-content {
    align-items: center;

    &.two-lines {
        display: inline-flex;
    }
    
}

.primary-text {
    font-weight: $fontWeightSemiBold;
}
.secondary-text {
    color: $secondary-text;
}

.kube-status-container {
    display: flex;
    align-items: center;

    .kube-status-desc {
        margin-left: 6px;
    }
}
.top-padding {
    margin-top: 10px;
}
