@import "azure-devops-ui/Core/_platformCommon.scss";

.dc-list-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    .deployment-status {
        padding-left: 5px;
    }
}

.replica-with-pod-list {
    margin-top: 10px;

    &.first-replica {
        margin-top: 5px;
    }
}

.dc-col-content {
    display: inline-flex;
    align-items: center;
}

.dc-col-primary-text {
    font-weight: $fontWeightSemiBold;
}
.dc-col-secondary-text {
    color: $secondary-text;
}
