@import "azure-devops-ui/Core/_platformCommon.scss";

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.kubernetes-container {
    padding: 20px;
    /* todo :: use std colors */
    background-color: white;

    .content-main-heading {
        padding: 10px 10px;

        .sub-heading {
            color: $secondary-text;
            font-size: $fontSizeML;
        }
    }

    .content-with-pivot .item-padding {
        padding: 10px 0px 0px 10px;
    }
}