@import "./Common.scss";

.pdl-content {
    .replicaset-name-section {
        padding-top: 5px;
        font-size: $fontSizeML;
    }

    .pl-label-group {
        padding-top: 6px;
    }

    .list-col-content {
        line-height: 30px;
    }
}