@import "azure-devops-ui/Core/_platformCommon.scss";

.sc-list-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.sc-col-content {
    display: inline-flex;
    align-items: center;
}

.sc-col-primary-text {
    font-weight: $fontWeightSemiBold;
}
.sc-col-secondary-text {
    color: $secondary-text;
}
