@import "../Common/Common.scss";

.pod-overview-key {
    padding-left: 8px;
    color: $secondary-text;
}

.kube-list-content .bolt-header.bolt-card-header {
    padding-left: 28px; // 20px padding in content and 8px width of bolt-table-cell-compact added by default in Tables
    padding-bottom: 0px;
}