// todo :: once summary card is available we should remove this
.pod-overview-key-col .pod-o-k-col-content,
.pod-overview-value-col .pod-o-v-col-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pod-overview-card .pod-full-details-table {
    padding-top: 13px;
}