@import "../Common/Common.scss";

.pods-left-panel-container {
    margin-top: 15px;

    .pod-left-panel-header {
        .pod-left-panel-back-button {
            cursor: pointer;
        }
    }

    .pod-left-panel-table-header {
        padding-left: 20px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: $fontWeightSemiBold;
    }
}