/* todo :: remove once we have backbutton feature */
.pod-left-panel-header .pod-left-panel-back-button {
    cursor: pointer;
    margin-right: 4px;
}

/* todo :: remove once we have master component */
.pod-left-panel-table-header {
    padding-bottom: 8px;
}