@import "azure-devops-ui/Core/_platformCommon.scss";

.kube-list-content {
    padding-top: 16px;

    .kube-table-header {
        font-weight: $fontWeightSemiBold;
    }

    .kube-list {
        .first-col-header {
            padding-left: 10px;
        }

        .kube-col-header {
            color: $secondary-text;
            font-size: $fontSize;
            font-weight: $fontWeightHeavy;
        }

        .kube-list-row {
            padding-left: 4px;
        }
    }
}
