@import "azure-devops-ui/Core/_platformCommon.scss";

.kube-list-content {
    padding-top: 16px;

    .kube-list-heading.heading {
        padding: 0px 8px 0px 0px;

        .heading-title {
            margin-bottom: 0px;
            margin-top: 6px;
        }

        .kube-flex-row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .kind-tag {
            margin-right: 8px;
        }
        
        .bolt-card-header {
            padding-bottom: 0px !important
        }
    }

    .kube-list {
        .first-col-header {
            padding-left: 10px;
        }

        .kube-col-header {
            color: $secondary-text;
            font-size: $fontSize;
            font-weight: $fontWeightHeavy;
        }

        .kube-list-row {
            padding-left: 4px;
        }
    }

    .bolt-header {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}