@import "azure-devops-ui/Core/_platformCommon.scss";

.list-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;

    &.top-padding {
        margin-top: 8px;
    }
}

.list-col-content {

    &.two-lines {
        line-height: 30px;
        align-items: flex-start;
        width:100%;
    }
    
}

.primary-text {
    font-weight: $fontWeightSemiBold;
    font-size: $fontSizeM;
    line-height: 20px;
}
.secondary-text {
    color: $secondary-text;
    font-size: $fontSizeMS;
    line-height: 16px;
}

.kube-status-container {
    display: flex;
    align-items: center;

    .kube-status-desc {
        margin-left: 6px;
        width: 100%;
    }
}

.item-no-padding {
    padding: 0px 0px 0px 0px
}

.zero-left-padding {
    padding-left: 0px;
}
