@import "azure-devops-ui/_coreStyles.scss";

.k8s-pods-status-count {
    padding-left: $spacing-8;
}

.external-ip-cell {
    .external-ip-cell-text {
        padding-right: $spacing-4;
    }
    .external-ip-copy-icon.kube-text-copy.subtle {
        padding: 2px;
        vertical-align: bottom;
        cursor: pointer;
    }
}