@import "azure-devops-ui/Core/_platformCommon.scss";

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.kubernetes-container {
    width: 100%;
    padding: 20px;

    .content-main-heading {
        padding: 10px 10px;

        .title-heading {
            margin-bottom: 10px;
        }
    }

    .sub-heading {
        color: $secondary-text;
        font-size: $fontSizeM;
    }

    .sub-heading2 {
        color: $secondary-text;
        font-size: $fontSizeMS;
    }

    .content-with-pivot .item-padding {
        padding-top: 16px
    }
}