@import "azure-devops-ui/Core/_platformCommon.scss";

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.kubernetes-container {
    .sub-heading {
        color: $secondary-text;
        font-size: $fontSizeM;
    }

    .sub-heading2 {
        color: $secondary-text;
        font-size: $fontSizeMS;
    }

    .content-with-pivot .card-padding {
        padding-top: 16px;
    }
}