@import "./Common.scss";

.description-padding {
    margin-left: 8px;
    width: 100%;
    align-self: stretch;
}

.res-status {
    display: inline-flex;
    align-items: center;
    align-content: center;
}