@import "../Common/Common.scss";

.pod-overview-card .bolt-header.bolt-card-header {
    padding-left: 28px; // 20px padding in content and 8px width of bolt-table-cell-compact added by default in Tables
    padding-bottom: 0px;
}

.pod-overview-key .bolt-table-cell-content,
.pod-overview-value .bolt-table-cell-content{
    padding-top: 5px;
    padding-bottom: 5px;
}

.workload-details-card {
    .bolt-table-cell-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.s-details {
    .s-key {
        &.bolt-table-cell {
            padding-left: 0px;
        }
    }

    .bolt-list-cell-content {
        padding-left: 0px !important;

        .bolt-list-cell-text {
            padding: 0px !important;
        }
    }
}

.kube-list-content {
    .bolt-header {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

//Needed override of ZeroDataItem css for side alignment since ZeroData component allows className only for the root container not child elements.
.zerod-side-align-content {
    .vss-ZeroDataItem {
        flex-direction: row;
        text-align: justify !important; //todo: verify if this override can be achieved in any other way
    }
}