@import "../Common/Common.scss";

.replica-with-pod-list {
    margin-top: 10px;

    &.first-replica {
        margin-top: 5px;
    }
}


.deployment-heading-labels {
    display: inline-block;
    padding-left: 8px;
}
